@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Matthew 7:12<br />
    Therefore all things whatsoever ye would that men should do to you, do ye even so to them; for this is the law and the prophets.<br />
</p>
    <br><h2> If it isn't yours, leave it alone.</h2>
