@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to</p>
    <h2>Church of Jesus Christ of Latter-Day Saints</h2>
    <h2>movies list</h2>
    
</div>
